main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #1798c1;
}

.container {
    display: inline-flex;
    white-space: nowrap;
    overflow-x: hidden;
    max-width: 100vw;
}
