main {
    margin: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    color: #1798c1;
}

.sortable-list {
	margin: 0 auto;
}

ul {
    white-space:nowrap;
    overflow-x:auto;
	list-style-type: none;
	padding: 0;
}

li {
	background-color: #f0f0f0;
	cursor: grab;
    display: inline;
}
